<h1>Burgers!</h1>

<h2>Devour your Burger!</h2>

<ul>
    {{#each burger}} {{#unless this.devoured}}
    <br> {{this.burger_name}}

</ul>

<h2>More Burgers!!</h2>

<ul>
    {{#each burger}} {{#unless this.devoured}} {{/if}} {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="hidden" name="id" value="{{this.id}}" <button class=" btnColor btn btn-primary" type="submit">Takeaway!</button>

    </div>

    <button type="submit">Add Burger</button>
</form>